.panel {
	display: flex;
	align-items: center;
	background-color: #fff;

	height: 11rem;
	width: 65vw;

	border-radius: 15px;
	padding: 4rem;

	position: absolute;
	bottom: -30%;

	&__box {
		flex: 1;
		height: 100%;

		// Margin right to every box with slight line separating them
		&:not(:last-child) {
			border-right: 1px solid rgba($color: $dark-grey, $alpha: 0.6);
			margin-right: 3.5rem;
		}

		// Location Box
		&:nth-child(2) > &--info {
			width: 70%;
		}

		// ISP Box
		&:last-child > &--info {
			width: 60%;
		}

		&--label {
			font-size: 1.4rem;
			font-weight: $font-bold;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			color: $dark-grey;
		}

		&--info {
			margin-top: 1.2rem;
			font-size: 2.6rem;
			font-weight: $font-bolder;
			color: $very-dark-grey;
		}
	}
}
