.panel {
	display: flex;
	background-color: #fff;

	position: absolute;

	width: 75vw;

	border-radius: 15px;
	padding: 3rem;

	bottom: -30%;

	@media screen and (max-width: 1050px) {
		bottom: -50%;
	}

	@media screen and (max-width: 870px) {
		align-items: center;
		flex-direction: column;
		bottom: -80%;
	}

	@media screen and (max-width: 570px) {
		bottom: -90%;
	}

	&__box {
		display: flex;
		flex-direction: column;

		padding: 2.5rem;
		flex: 1;

		// Margin right to every box with slight line separating them
		&:not(:last-child) {
			border-right: 1px solid rgba($color: $dark-grey, $alpha: 0.6);
		}

		@media screen and (max-width: 870px) {
			align-items: center;

			&:not(:last-child) {
				border-right: none;
			}
		}

		// Location Box
		// Check later
		// &:nth-child(2) > &--info {
		// 	width: 70%;
		// }

		// ISP Box
		// &:last-child > &--info {
		// 	width: 60%;
		// }

		&--label {
			font-size: 1.4rem;
			font-weight: $font-bold;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			color: $dark-grey;
		}

		&--info {
			margin-top: 1.2rem;
			font-size: 2.6rem;
			font-weight: $font-bolder;
			color: $very-dark-grey;
		}
	}
}
