// Colors
$dark-grey: hsl(0, 0%, 59%);
$very-dark-grey: hsl(0, 0%, 17%);

// Font sizes
$input-font-size: 1.8rem;

// Font family
$font-primary: 'Rubik';

//Font weights
$font-regular: 400;
$font-bold: 500;
$font-bolder: 700;
